#gameListOuter{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#gameList{
    height: auto;
    max-height: 100%;
    background-color: #ccc;
    text-align: center;
    overflow: scroll;
}
table{
    width: 100%;
}
th{
    background-color: #ddd;
}
tbody > *{
    background-color: #bbb; 
}
tbody > *:hover{
    filter: brightness(110%); 
}
#idJoinSpan{
    float: right;
}
/* #gameListBottom{
    position: absolute;
    bottom: 1em;
} */