#gameListOuter{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#gameList{
    height: auto;
    max-height: 100%;
    background-color: #ccc;
    text-align: center;
    overflow: scroll;
}
table{
    width: 100%;
}
th{
    background-color: #ddd;
}
tbody > *{
    background-color: #bbb; 
}
tbody > *:hover{
    filter: brightness(110%); 
    cursor: pointer;
}
#idJoinSpan{
    float: right;
}
.ourGame{
    filter: brightness(95%);
}

.ourGame:hover{
    cursor: default !important;
    filter: brightness(100%);
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    /* border-radius: 50%; */
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
    margin-left: 0.5em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#refreshButtonOuter{
    display: flex;
}